/*

Sources

--> https://www.w3schools.com/css/

 */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #b7d7e1;
}

header {

}

.nav {
  padding: 1%;
  box-shadow: 0;
  background-color: #00000080;
  color: white;

  display: flex;
  flex: row;

  position: fixed;
  /* bottom: 0; */
  top: 0;
  width: 100%;
}

.nav-item {
  margin: 0% 1%;
}

#categories {
display: block;
}

.categories {
  display: none;
}
main {
  margin: 4%;
  background-color: black;
  text-align: center;
}

.blocks {
  display: flex;
  /* background-color: #6a1474; */
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: brown;
  padding: 10px; */
}

.block {
  border: 1px solid rgba(0, 0, 0, 0.8);

  margin: 1%;
  max-width: 15%;
  max-height: 20%;
  color: white;
  background-color: #2b033380;
  /* background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center; */
}

.block:hover {
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin: 1%;
  max-width: 15%;
  max-height: 20%;
  color: white;
  background-color: blue;

  /* background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center; */
}
.title {
  text-align: center;

}

.img {
  max-width: 100%;
  max-height: 100%;
}

.input {
  margin: 1%;
  padding: 0.5%;
  display: block;

}

.error {
  padding: 5%;
  background-color: red;

}
footer {
  background-color: #8c9fad;
  padding: 1%;
}

h4 {
  text-align: center;
}

/* unvisited link */
a:link {
 color: white;
}

/* visited link */
a:visited {
 color: grey;
}

/* mouse over link */
a:hover {
 color: white;
}

/* selected link */
a:active {
 color: blue;
}
